---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
  <url>
    <loc>{{ site.siteUrl }}/</loc>
    <xhtml:link rel="alternate" hreflang="pt" href="{{ site.siteUrl }}/"/>
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.siteUrl }}/en/"/>
    <priority>1.0</priority>
  </url>
  <url><loc>{{ site.siteUrl }}/sobre/</loc></url>
  <url><loc>{{ site.siteUrl }}/servicos/</loc></url>
  <url><loc>{{ site.siteUrl }}/projetos/</loc>
    <xhtml:link rel="alternate" hreflang="pt" href="{{ site.siteUrl }}/projetos/"/>
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.siteUrl }}/en/projects/"/>
  </url>
  <url><loc>{{ site.siteUrl }}/contacto/</loc></url>
  <url><loc>{{ site.siteUrl }}/en/</loc></url>
  <url><loc>{{ site.siteUrl }}/en/about/</loc></url>
  <url><loc>{{ site.siteUrl }}/en/services/</loc></url>
  <url><loc>{{ site.siteUrl }}/en/projects/</loc></url>
  <url><loc>{{ site.siteUrl }}/en/contact/</loc></url>
  {% for projeto in collections.projetos %}
  <url>
    <loc>{{ site.siteUrl }}/projetos/{{ projeto.data.slug }}/</loc>
    <xhtml:link rel="alternate" hreflang="pt" href="{{ site.siteUrl }}/projetos/{{ projeto.data.slug }}/"/>
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.siteUrl }}/en/projects/{{ projeto.data.slug_en }}/"/>
  </url>
  <url>
    <loc>{{ site.siteUrl }}/en/projects/{{ projeto.data.slug_en }}/</loc>
    <xhtml:link rel="alternate" hreflang="pt" href="{{ site.siteUrl }}/projetos/{{ projeto.data.slug }}/"/>
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.siteUrl }}/en/projects/{{ projeto.data.slug_en }}/"/>
  </url>
  {% endfor %}
</urlset>
